.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: #000000;
}

.header__img-logo {
    grid-column: 1;
    display: inline-block;
    margin: 1vw 6vw 1vw 2vw;
    width: calc((100vw / 3) - 6vw);
    height: auto;
}

.search-form {
    grid-column: 2;
    width: calc(100vw / 3);
    display: flex;
    align-items: center;
}

.search-form__keyword-input {
    width: 100%;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 2.6vw;
}

.nav {
    grid-column: 3;
    margin: auto 2vw auto 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logout-button {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    display: block;
    margin: auto;
}

.nav__mypage-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.nav__sell-link {
    text-decoration: none;
    background-color: #ffffff;
    font-size: 20px;
    color: #000000;
    padding: 6px 22px;
    border-radius: 3px;
}

.nav__login-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

@media screen and (max-width: 851px) {
    .search-form__keyword-input {
        font-size: 11px;
        border-radius: 3.2px;
        padding: 5.4px 2.6vw;
    }

    .nav__logout-button {
        font-size: 11px;
    }

    .nav__mypage-link {
        font-size: 11px;
    }

    .nav__sell-link {
        font-size: 11px;
        padding: 3.2px 11.8px;
        border-radius: 1.6px;
    }

    .nav__login-link {
        font-size: 11px;
    }
}