.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    margin: 40px auto;
}

.profile-form__heading {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 40px;
}

.profile-form {
    width: 100%;
}

.form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.form__group:first-of-type {
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.form__group:last-of-type {
    margin-bottom: 50px;
}

.form__profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.form__profile-image img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
}

.form__profile-image div {
    width: 10vw;
    height: 10vw;
    background-color: #D9D9D9;
}

.form__select-image {
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35vw;
}

.form__select-button {
    border: solid 2px #FF5555;
    font-size: 16px;
    font-weight: 600;
    color: #FF5555;
    padding: 0.3vw 1vw;
    border-radius: 0.5vw;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
}

.form__input-hidden {
    display: none;
}

.form__label {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}

.form__group-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__input-text input {
    width: 100%;
    height: 40px;
    border: solid 1px #5F5F5F;
    border-radius: 4px;
}

.form__error {
    font-size: 16px;
    font-weight: 400;
    color: #ff0000;
}

.form__button-submit {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #FF5555;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 20px;
}

@media screen and (max-width: 851px) {
    .content {
        margin: 22px auto;
    }

    .profile-form__heading {
        font-size: 17px;
        margin: 0 0 22px;
    }

    .form__group {
        margin-bottom: 11px;
    }

    .form__group:first-of-type {
        margin-bottom: 22px;
    }

    .form__group:last-of-type {
        margin-bottom: 27px;
    }

    .form__select-button {
        font-size: 9px;
    }

    .form__label {
        font-size: 11px;
    }

    .form__input-text input {
        height: 22px;
        border-radius: 2.2px;
    }

    .form__error {
        font-size: 9px;
    }

    .form__button-submit {
        height: 22px;
        border-radius: 2.2px;
        font-size: 11px;
        margin-bottom: 11px;
    }
}