.content {
    margin-top: 4.43vw;
}

.top-content {
    border-bottom: solid 2px #5f5f5f;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 13vw 5.36vw 19.8vw;
}

.profile-info {
    display: flex;
    align-items: center;
    column-gap: 1.79vw;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
}

.profile-image div {
    width: 10vw;
    height: 10vw;
    background-color: #D9D9D9;
}

.profile-name {
    font-size: 33.3px;
    font-weight: 700;
    margin: 0 0 0 1.98vw;
}

.profile-score {
    margin-top: 1.72vw;
}

.profile-score__stars {
    display: flex;
    column-gap: 4.63px;
}

.profile-score__star {
    display: inline-block;
    font-size: 37px;
    line-height: 37px;
    color: #D9D9D9;
}

.profile-score__star.is-active {
    color: #FFF048;
}

.profile-link {
    font-size: 20px;
    font-weight: 600;
    border: solid 2px #FF5555;
    color: #FF5555;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    padding: 0.3vw 1.6vw;
    border-radius: 0.5vw;
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.3vw;
}

.heading__sell {
    margin-left: 12.4vw;
}

.heading__buy {
    margin-left: 6.02vw;
}

.heading__deal {
    margin-left: 6.02vw;
}

.para {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FF5555;
}

.link {
    font-size: 20px;
    font-weight: 700;
    color: #5f5f5f;
    text-decoration: none;
}

.heading__total-unread-count {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 8.4px;
    text-align: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4vw;
    row-gap: 60px;
    margin: 60px 4vw;
}

.item {
    width: calc((100% - 12vw) / 4);
}

.item__top-content {
    width: 100%;
    position: relative;
}

.item__link {
    width: 100%;
}

.item__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.item__sold-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
}

.item__unread-mark {
    position: absolute;
    top: 4px;
    left: 3px;
    background-color: #ff0000;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    width: 28px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
}

.item__name {
    font-size: 20px;
    margin: 4px 0;
}

@media screen and (max-width: 851px) {
    .profile-name {
        font-size: 18.3px;
    }

    .profile-score__stars {
        column-gap: 2.55px;
    }

    .profile-score__star {
        font-size: 20.4px;
        line-height: 20.4px;
    }

    .profile-link {
        font-size: 11px;
    }

    .para {
        font-size: 11px;
    }

    .link {
        font-size: 11px;
    }

    .heading__total-unread-count {
        padding: 0 2.7px;
        margin-left: 2.7px;
        font-size: 11px;
        line-height: 12px;
        border-radius: 4.6px;
    }

    .items {
        row-gap: 32px;
        margin: 32px 4vw;
    }

    .item__img {
        border-radius: 2.7px;
    }

    .item__sold-label {
        font-size: 22px;
    }

    .item__unread-mark {
        top: 2.2px;
        left: 1.6px;
        font-size: 7.7px;
        width: 15.4px;
        line-height: 15.4px;
        border-radius: 7.7px;
    }

    .item__name {
        font-size: 11px;
        margin: 2.2px 0;
    }
}