.content {
    margin-top: 5vw;
}

.top-content {
    border-bottom: solid 2px #5f5f5f;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 auto 5vw;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
}

.profile-image div {
    width: 10vw;
    height: 10vw;
    background-color: #D9D9D9;
}

.profile-name {
    font-size: 32px;
    font-weight: 700;
    padding-left: 4vw;
    max-width: 40vw;
}

.profile-link {
    font-size: 20px;
    font-weight: 600;
    border: solid 2px #FF5555;
    color: #FF5555;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    padding: 0.3vw 1.6vw;
    border-radius: 0.5vw;
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.3vw;
}

.heading__sell {
    margin-left: 9vw;
}

.heading__buy {
    margin-left: 3vw;
}

.heading__deal {
    margin-left: 3vw;
}

.para {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FF5555;
}

.link {
    font-size: 20px;
    font-weight: 700;
    color: #5f5f5f;
    text-decoration: none;
}

.items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4vw;
    row-gap: 60px;
    margin: 60px 4vw;
}

.item {
    width: calc((100% - 12vw) / 4);
}

.item__top-content {
    width: 100%;
    position: relative;
}

.item__link {
    width: 100%;
}

.item__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.item__sold-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
}

.item__name {
    font-size: 20px;
    margin: 4px 0;
}

@media screen and (max-width: 851px) {
    .profile-name {
        font-size: 17px;
    }

    .profile-link {
        font-size: 11px;
    }

    .para {
        font-size: 11px;
    }

    .link {
        font-size: 11px;
    }

    .items {
        row-gap: 32px;
        margin: 32px 4vw;
    }

    .item__img {
        border-radius: 2.7px;
    }

    .item__sold-label {
        font-size: 22px;
    }

    .item__name {
        font-size: 11px;
        margin: 2.2px 0;
    }
}