!*

!images/
!images/items/
!images/items/**

!images/items/coffee_mill.jpg
!images/items/hard_disk.jpg
!images/items/laptop.jpg
!images/items/leather_shoes.jpg
!images/items/makeup_set.jpg
!images/items/microphone.jpg
!images/items/onions.jpg
!images/items/shoulder_bag.jpg
!images/items/tumbler.jpg
!images/items/watch.jpg

!.gitignore
